.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #19A1AE;
    justify-content: center;
    align-items: center;
}

.card-component {
    display: block;
    width: 350px;
    height: 374px;
    background: #fff url('../img/card-component__bg.png') no-repeat center top;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
    z-index: 1;
}

.card-component__image {
    display: block;
    background: #fff url('../img/card-component__image.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    height: 106px;
    width: 106px;
    border: 5px solid #FFFFFF;
    border-radius: 100%;
}

.card-component__title {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    font-size: 18px;
}

.card-component__title__name {
    display: inline-block;
    margin-right: 8.5px;
    font-weight: 700;
    color: #2E3349;
}
.card-component__title__age {
    display: inline-block;
    color: #6B7082;
}
.card-component__city {
    display: block;
    margin-top: 13px;
    width: 100%;
    text-align: center;
    color: #6B7082;
}

.card-component__meta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-top: 1px solid #E8E9EC;
    margin-top: 28px;
}
.card-component__meta__number {
    display: block;
    margin-top: 24px;
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
}
.card-component__meta__tag {
    display: block;
    margin-top: 9px;
    color: #6B7082;
    font-size: 10px;
}

.card-component__meta_followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59px;
}
.card-component__meta_likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47px;
}
.card-component__meta_photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43px;
}

@media (max-width: 1199.98px) {
    
}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
    
}
@media (max-width: 575.98px) {
    .card-component {
        display: block;
        width: 326px;
        height: 374px;  
    }
}