@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background: #19A1AE;
    /* overflow: hidden; */
}

#circle-1 {
    position: absolute;
    width: 978px;
    height: 976px;
    left: -294.71px;
    top: -479.84px;
    border-radius: 100%;
    
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: rotate(-135deg);    
}

#circle-2 {
    position: absolute;
    width: 978px;
    height: 976px;
    left: 780.29px;
    top: 354.84px;
    border-radius: 100%;

    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    mix-blend-mode: normal;
    opacity: 0.25;
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}